<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/for_all}">
<head>
    <title>Users List</title>
</head>
<body>

<div layout:fragment="content" class="container mySpace">
    <form action="/users" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control" name="name" placeholder="Search User"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </div>
    </form>
    <div class="card">
        <div class="card card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td><a th:href="@{/delete(email=${user.email})}" class="btn btn-dark">Delete</a></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</html>