<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoLex najlepsze miejsce na zrobienie zakupów</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100vh;
            margin: 0;
        }

        .bg {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .stretch {
            min-height: 100%;
            min-width: auto;

        }
    </style>
</head>
<body>
<div class="bg"><a href="lolex.html"><img class="stretch" src="../../static/images/welcome.gif"></a></div>
</body>
</html>